<section class="login">
     <form action="/login" method="POST">
        <div id="login">
            <h2 id="h2_line">Please Login!</h2>
            <label id="username">Email: <input type="email" name="email" placeholder="Enter Your Email:" required /></label>
            <br />
            <label id="password">Password: <input type="text" name="password" placeholder="Enter Your Password:" required /></label>
            <br />
            <button type="submit" onclick="registerUser()" class="b" id="sign-in-btn">Sign-In</button>
            <a href="/register" class="forgot-link">Don't Have Account?</a>
        </div>
     </form>
</section>
<p class="login-footer"> &copy; 2024 Pizzatoria. All rights reserved.</p>